body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,122,36,1) 59%, rgba(216,98,214,1) 100%);
}
.container{
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
}
.header-line{
    width: 100%;
    height: 45px;
    background-color: #3b006b;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
}

.logo{
    width: 246px;
    height: 145px;
}

.text-box{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center
}
.nav-ul{
    margin: 0 0px 0 200px;
    display: flex;
}
.nav-li {    
    padding-right: 30px;
}

.nav-li a {
    font-size: 18px; 
    color: white;
    transition: all 0.4s ease-in-out;
    text-decoration: underline solid transparent;
    text-decoration-thickness: 3px;
}

.nav-li a:hover{
    text-decoration-color: white;
}

.under-text{
    width: 840px;
    height: 30px;
    background: rgb(59,0,107);
    background: linear-gradient(90deg, rgba(59,0,107,0) 0%, rgba(59,0,107,1) 50%, rgba(216,98,214,0) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dow-ul{
    margin: 0 20px 0 200px;
    display: flex;
    
}
.dow-li {    
    padding-right: 5px;
}

.dow-li a img{
    width: 25px;
    height: 25px;
}

.light-purple{
    width: 100%;
    height: 145px;
    margin: 20px 0 20px 0;
    background-color: #a131fe;
}

.dotted-section{
    position: relative;
}

.dotted-section .dot-img {
    position: absolute;
    left: -40px;
    top: 0px;
    object-fit: cover;
    height: 152px;
}

.food-images {
    width: 100%;
    display:flex;
    justify-content: center;
    gap: 15px;
}

.food{
    width: 250px;
    height: 160px;
    
}

footer{
    width: 100%;
    height: 50px;
    background-color: #43126b;
    margin-top: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
}