header{
    width: 100%;
    height: 100vh;
    background: url(../images/header.png) center/cover no-repeat;;
}
.container{
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 246px;
    height: 145px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-ul{
    margin: 0 0px 0 200px;
    display: flex;
}
.nav-li {    
    padding-right: 30px;
}

.nav-li a {
    font-size: 18px; 
    color: #f87f26;
    transition: all 0.4s ease-in-out;
    text-decoration: underline solid transparent;
    text-decoration-thickness: 3px;
}

.nav-li a:hover{
    text-decoration-color: white;
}

.dots-wrapper{
    width: 100%;
    max-width: 1080px;
    display: flex;
    align-items: flex-start;
}

.purple-line{
    width: 100%;
    height: 100px;
    background-color: #8c00ff;
}

.second-section{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.orange-line{
    width: 60.5%;
    height: 100px;
    background-color: #f17924;
}
.middle-dots{
    align-self: center;
}

.second-purple{
    width: 60.5%;
    height: 100px;
    background-color: #8c00ff; 
    align-self: flex-end;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #43126b;
    margin-top: 120px;
}

