.container{
    width: 100%;
    max-width: 1080px;
    margin: 0px auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1080px;
}

.logo{
    width: 246px;
    height: 145px;
}

.text-box{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 150px;
}
.nav-ul{
    margin: 0 0px 0 200px;
    display: flex;
}
.nav-li {    
    padding-right: 30px;
}

.nav-li a {
    font-size: 18px; 
    font-family: 'Lobster';
    color: black;
    transition: all 0.4s ease-in-out;
}

.nav-li a:hover{
    color: #f27b24;
}

.under-text{
    width: 840px;
    height: 30px;
    background: rgb(59,0,107);
    background: linear-gradient(90deg, rgba(59,0,107,0) 0%, rgba(59,0,107,1) 50%, rgba(216,98,214,0) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dow-ul{
    margin: 0 20px 0 200px;
    display: flex;
    
}
.dow-li {    
    padding-right: 5px;
}

.dow-li a img{
    width: 25px;
    height: 25px;
}

.light-purple{
    width: 100%;
    height: 145px;
    margin: 20px 0 20px 0;
    background-color: #a131fe;
}

.dotted-section{
    position: relative;
}

.dotted-section .dot-img {
    position: absolute;
    left: -40px;
    top: 0px;
    object-fit: cover;
    height: 152px;
}

.food-images {
    width: 100%;
    display: flex;
    justify-content: center;
}

.food{
    width: 25%; 
}


.light-purple2{
    width: 100%;
    height: 145px;
    margin-top: 20px;
    background-color: #a131fe;
}

.section-1{
    width: 100%;
    height: 100vh;
    background: url(../images/right-background.jpg) center center/cover no-repeat;
}

.section-2{
    width: 100%;
    height: 100vh;
    background: url(../images/left-background.jpg) center center/cover no-repeat;
    display: flex;
    align-items: center;
    align-content: space-between;
}
h2{
    color: #f27b24;
    font-size: 40px;
    font-family: 'Lobster';
    text-align: center;
    padding-top: 15px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

.work{
    width: 100%;
}

.light-purple3{
    width: 100%;
    height: 145px;
    background-color: #a131fe;
}

.sections-text p{
    font-family: 'Times New Roman Cyr';
    padding-left: 100px;
    font-size: 18px;
}

.explanation{
    display: flex;
    flex-direction: column;
}
.exp-ul{
    display: flex;
    margin-top: 30px;
}

.exp-li{
    width: 25%;
    font-family: 'Times New Roman Cyr';
    font-size: 18px;
    text-align: center;
}

.exp-image{
    width: 100%;
}

.roadmap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.roadmap-picture img{
    width: 300px;
    height: 300px;
}

.social-logo{
    width: 30px;
    height: 30px;
}
.contact-p{
    text-align: right;
}
footer{
    width: 100%;
    background-color: #43126b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}

h4{
    color: #f27b24;
    font-size: 30px;
    font-family: 'Lobster';
    text-align: right;
    padding-top: 15px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}

footer p{
    padding-top: 10px;
    color: white;
}

p{
    font-family: 'Times New Roman Cyr';
    padding-top: 15px;
}